@tailwind base;
@tailwind components;
@tailwind utilities;

#body{
    background-color:rgb(223, 216, 216);
  }
  
  #wrapper
  {

  }

  #Content{
  position: relative;
  overflow: hidden;
  z-index: 1;
  }